.containerActivityDetails {
    color: white;
    margin-top: 5px;
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
    backdrop-filter: blur(9px);
    background-color: rgba(55,0,255, 0.267);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 1px rgba(255,255,255,0.4) solid;
    border-bottom: 1px rgba(40,40,40,0.35) solid;
    border-right: 1px rgba(40,40,40,0.35) solid;
}

.descriptionActivity {
    font-size: medium; 
}